
<div class="calculation">
  <div class="people">
    <%= pluralize @calculation.people, 'person' %>
  </div>
  Need
  <div class="pizzas">
     <%= pluralize @calculation.pizzas, 'pizzas' %>
  </div>

</div>
